{% load staticfiles %}
<script src="{% static 'catHouseForum/assets/js/jquery.min.js' %}"> </script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'catHouseForum/assets/css/main.css' %}">
    {% block csslink %}
    {% endblock %}
    <title>{%block title%}{%endblock%}猫舍</title>
</head>
<body>

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>






